---
layout: page
title: matura podstawowa
permalink: /matura-podstawowa/
---

{% include nav_podstawa.html %}

<div class="display-posts">
    <h1 class="responsiveTitleCenter">Matura podstawowa</h1>
    <div class="grid-row">
    
        <ul class="cards">
            {% assign sorted-posts = site.posts | where: "categories","matura-podstawowa" %}
                        
            {% for post in sorted-posts %}
            <li class="cards__item">
                <div class="card">
                
                    <div class="card__image" style="background-image: url('{{ post.featured-image }}')"></div>
                    <div class="card__content">
                        <div class="card__title">{{ post.title }}</div>
                        <p class="card__text">{{ post.description }}</p>
                        <a class="btn btn--block card__btn" href="{{ post.url }}">Czytaj więcej</a>
                    </div>

                </div>
            </li>
            {% endfor %}
        </ul>
    
    </div>
</div>