<!-- <button id="scollUp"><i class="fas fa-arrow-up"></i></button> -->
<footer>
  <div class="copyright">
    Piemat.pl | Wszelkie prawa zastrzeżone &copy; {{ site.time | date: "%Y" }}
  </div>
  <div class="social">
    <a href="https://www.facebook.com/Piemat-463522030880528/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/piemat_matematyka/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</footer>
<amp-auto-ads type="adsense"
  data-ad-client="ca-pub-6378986598075156">
</amp-auto-ads>