<nav class="cat-nav text-white">
    <h1 class="responsiveTitleCenter">Działy</h1>
    <a href="/matura-podstawowa/liczby-rzeczywiste/">Liczby rzeczywiste</a>
    <a href="/matura-podstawowa/ciagi/">Ciągi</a>
    <a href="/matura-podstawowa/funkcja-kwadratowa/">Funkcja kwadratowa</a>
    <a href="/matura-podstawowa/geometria/">Geometria</a>
    <a href="/matura-podstawowa/trygonometria/">Trygonometria</a>
    <a href="/matura-podstawowa/geometria-analityczna/">Geometria analityczna</a>
    <a href="/matura-podstawowa/prawdopodobienstwo/">Kombinatoryka, prawdopodobieństwo</a>
    <a href="/matura-podstawowa/statystyka/">Statystyka</a>
    <a href="/matura-podstawowa/dowody/">Dowody</a>
    <a href="/matura-podstawowa/logarytmy-i-funkcja-wykladnicza/">Logarytmy i funkcja wykładnicza</a>
    <a href="/matura-podstawowa/wielomiany-i-funkcje-wymierne/">Wielomiany i funkcje wymierne</a> 
</nav>