<nav class="cat-nav text-white">
    <h1 class="responsiveTitleCenter">Działy</h2>
    <a href="/matura-rozszerzona/liczby-rzeczywiste/">Liczby rzeczywiste</a>
    <a href="/matura-rozszerzona/ciagi/">Ciągi</a>
    <a href="/matura-rozszerzona/funkcja-kwadratowa/">Funkcja kwadratowa</a>
    <a href="/matura-rozszerzona/geometria/">Geometria</a>
    <a href="/matura-rozszerzona/trygonometria/">Trygonometria</a>
    <a href="/matura-rozszerzona/geometria-analityczna/">Geometria analityczna</a>
    <a href="/matura-rozszerzona/prawdopodobienstwo/">Kombinatoryka, prawdopodobieństwo</a>
    <a href="/matura-rozszerzona/statystyka/">Statystyka</a>
    <a href="/matura-rozszerzona/dowody/">Dowody</a>
    <a href="/matura-rozszerzona/logarytmy-i-funkcja-wykladnicza/">Logarytmy i funkcja wykładnicza</a>
    <a href="/matura-rozszerzona/wielomiany-i-funkcje-wymierne/">Wielomiany i funkcje wymierne</a> 
    <a href="/matura-rozszerzona/rachunek-rozniczkowy/">Rachunek różniczkowy</a>
</nav>