---
layout: page
---

{% include nav_rozszerzenie.html %}

<div class="display-posts">
    <h1 class="responsiveTitleCenter">Dział {{ page.title | capitalize }}</h1>
    
    <div class="grid-row">   

        <ul class="cards">  
            {% assign filter = site.tags[page.tag] | where: "tags","matura-rozszerzona" %}
            
            {% for post in filter %}

            <li class="cards__item">
                <div class="card">
                    
                <div class="card__image" style="background-image: url('{{ post.featured-image }}')"></div>
                    <div class="card__content">
                        <div class="card__title">{{ post.title }}</div>
                        <p class="card__text">{{ post.description }}</p>
                        <a class="btn btn--block card__btn" href="{{ post.url }}">Czytaj więcej</a>
                    </div>
    
                    </div>
                </li>

            {% endfor %}
        </ul>
    
    </div>
</div>